*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 251);
    /* background-image: linear-gradient(rgb(255, 0, 0),rgb(195, 0, 255)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid rgb(255, 255, 255);
    background-image: linear-gradient(red,blue);
    border-radius: 50%; 
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:rgb(255, 255, 255) ;
    z-index: 1000;
    border-radius: 50%;
}
.hour,.minute,.second{
    position: absolute;
}
.hour,.hr{
    width: 200px;
    height: 200px;
}
.minute,.mn{
    width: 230px;
    height: 230px;
}
.second,.sc{
    width: 250px;
    height: 250px;
}
.hr,.mn,.sc{
display: flex;
justify-content:center ;
position: absolute;
}
.hr::before{
content: '';
position: absolute;
width: 8px;
height: 100px;
background-color: rgb(255, 111, 0);
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 110px;
    background-color: rgb(85, 255, 0);
    }
    .sc::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 120px;
        background-color: rgb(255, 0, 102);
        }
        